body {
    text-align: center;
    font-family: 'Itim'; 
    background-color: #ECDFCD;
    font-style: normal;
    font-weight: 300;
    color: #444444;
    margin: 0 !important;
}
header{
    background: #6AD9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgInverted{
    transform: scaleX(-1);
}

img{
    min-height: 20%;
    min-width: 20%;
}