body {font-family: 'Itim'; 
    background-color: #6AD9D9;
    font-family: 'Itim';
    font-style: normal;
    font-weight: 300;
    color: #444444;}

    #container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #6AD9D9;
    }






