.artist-hero {
    height: 100%;
    width: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}

.artist-hero img:first-child {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.artist-hero img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.artist-h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 128.5%;
    color: #000000;
}

.artist-h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 128.5%;
    color: #000000;
}

.artist-h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 128.5%;
    color: #000000;
}

.artist-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 128.5%;
    color: #1D3588;
}

.artist-p-strong {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 128.5%;
    color: #1D3588;
}

p.artist-p ul li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 128.5%;
    color: #1D3588;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 128.5%;
    color: #1D3588;
}

img.album-cover {
    /* max 250px x 250px */
    width: 15.625rem;
    height: 15.625rem;
    border-radius: 10px;
}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 25%;
    height: 10px;
    background: #6716C7;
    outline: none;
    opacity: 0.6;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    height: 30px;
    border: 0;
    background: url('/img/svg/slider.svg');
    z-index: 1000;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 60px;
    height: 30px;
    border: 0;
    background: url('/img/svg/slider.svg');
    z-index: 1000;
    cursor: pointer;
}